/*Clases propia para modificar algunos estilos*/

.titulo{
    font-family: Garamond, serif;
}

.tituloCuadros{
    font-family: Garamond, serif;
    color: #000;
    font-weight: bold;
}

.subTitulo {
    font-family: Garamond, serif;
    color: #000;
    font-weight: bold;
}

.selector{
    font-weight: bold;
}

.miFondo{
    background-color: #f4c462;
}

.miFondoPDF{
    background-color: #d0f0f0;
}

.miFondoCuadros{
    background-color: #f1dec0;
}

.iconos{
    width: auto;
    height: auto;
    max-width: auto;
    max-height: auto;
}

.botonesInicio{
    width: auto;
    height: auto;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #f4c462;   
    border-radius: 40px;
    border: 3px double #006505;
  }

.footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    src: "UCM_300.png"
  }